@tailwind base;
@tailwind components;
@tailwind utilities;

/* .tableBody{
    height: 20px !important;
    
} */


@layer base {
    .scroll-smooth {
      scroll-behavior: smooth;
    }
  }
    
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 3px solid transparent;
      background-clip: content-box;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.5);
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    
    .carousel-indicators [data-bs-target] {
      background-color: #ff0000; /* Change dots color */
    }
    